<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>Po prostu najlepsza siłownia w regionie!!!</p>
      
            <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Sosnowiec</span><span>. </span><span>Wszystkie prawa zastrzeżone</span></p>
            <br>
            <span>Użyj pakietów:</span>
            <div class="row">
              <div class="col-md-4 col-xl-5" >
            <a href="https://www.kartamultisport.pl"><img src="assets/image/multi.svg" > </a>
          </div>
          <div class="col-md-4 col-xl-5">
           <a href="https://oksystem.pl"> <img src="assets/image/oksys.svg"></a>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Kontakt</h5>
          <dl class="contact-list">
            <dt>Adres:</dt>
            <dd>Wojska Polskiego 69, 41-208 Sosnowiec, Polska</dd>
          </dl>
          <dl class="contact-list">
            <dt>Adres email:</dt>
            <dd><a href="mailto:#">ksiedlarski@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Numer Kontaktowy:</dt>
            <dd>+48 600 414 421 </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Przydatne linki</h5>
          <ul class="nav-list">
            <li><a href="#">O projekcie</a></li>
            <li><a href="#">Tutoriale</a></li>
            <li><a href="#">TypeScript</a></li>
            <li><a href="#">Angular</a></li>
            <li><a href="#">Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://www.facebook.com/krystian.siedlarski"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.instagram.com/ksiedlarski/?hl=pl"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="https://twitter.com/KrystianSiedla1"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.youtube.com/watch?v=GbAHs3Bs8I4"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>