<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Nasza Drużyna</h2>
        <p>Nasz zespół tworzą niepoprawni entuzjaści sportu i zdrowego stylu życia ! Zarażają dobrą energią i motywują naszych Klientów do pracy nad sobą. Jeśli dopiero zaczynasz przygodę z siłownią świetnie trafiłeś, nasi specjaliści pomogą Ci zacząć, dopasują ćwiczenia do Twoich potrzeb i możliwości, poinstruują Cię jak prawidłowo je wykonywać.

            Jeśli masz już doświadczenie w treningach na siłowni nasi trenerzy chętnie pokażą Ci nowe zestawy ćwiczeń, które urozmaicą Twój trening. Nasza kadra trenerska to coś co nas wyróżnia – trenerzy dostępni są dla naszych klientów przez cały okres trwania członkostwa, każdego dnia.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up">
            <div class="pic"><img src="assets/image/emil.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Andrzej Pyrtek</h4>
              <span>Fizjoterapeuta</span>
              <div class="social">
                <a href="https://twitter.com/?lang=pl"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/?hl=pl"><i class="fab fa-instagram"></i></a>
              
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="150">
            <div class="pic"><img src="assets/image/lysy.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Tadeusz Długowłosy</h4>
              <span>Trener Personalny</span>
              <div class="social">
                <a href="https://twitter.com/?lang=pl"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/?hl=pl"><i class="fab fa-instagram"></i></a>
         
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic"><img src="assets/image/jimi.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Janusz Kowalski</h4>
              <span>Dietetyk</span>
              <div class="social">
                <a href="https://twitter.com/?lang=pl"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/?hl=pl"><i class="fab fa-instagram"></i></a>
              
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>