<nav class="navbar navbar-expand-sm fixed-top scrolled" >
    <img src="assets/image/logo.png" class="navbar-brand" routerLink="/" width="200" height="50">
    <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">

    <li class="nav-item " routerLink="/karnet">
        <a class="nav-link ">Kup karnet!</a>
    </li>
    <li class="nav-item"routerLink="/sklep">
        <a><i class="fas fa-shopping-basket " ></i> Sklep</a>
    </li>
    <li class="nav-item" routerLink="/profil">
        <a ><i class="fa fa-fw fa-user" ></i> Profil</a>
    </li> 
</ul>
</div>