<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Galeria</h2>
        <p>Do Twojej dyspozycji są m.in. profesjonalnie wyposażone strefy wolnych ciężarów i funkcjonalna, studio Cycling (zajęcia na rowerkach stacjonarnych), sprzęt do treningów wytrzymałościowych z opcją cardio theater, bieżniami, rowerkami stacjonarnymi, orbitrekami i ergometrami, a także przestronna i klimatyzowana sala do aerobiku, tanita, basen, sauny i szeroka oferta zajęć odbywających się w grupach.</p>
      </div>
      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/cardio.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/cardio.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fas fa-plus-square"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fas fa-plus-square"></i></a>
        
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka8.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka8.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fas fa-plus-square"></i></a>
        
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka2.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fas fa-plus-square"></i></a>
        
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka3.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka3.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fas fa-plus-square"></i></a>
            
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka4.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka4.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="fas fa-plus-square"></i></a>
           
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka5.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka5.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fas fa-plus-square"></i></a>
    
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka9.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka9.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fas fa-plus-square"></i></a>
           
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/image/portfolio/silka7.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/image/portfolio/silka7.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fas fa-plus-square"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  