<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Kontakt</h2>
        <p></p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Nasz adres</h3>
            <p>Gabriela Narutowicza 51A, 41-200 Sosnowiec</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="fas fa-envelope"></i>
            <h3>Napisz do nas e-mail</h3>
            <p>ksiedlarski@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="fas fa-phone"></i>
            <h3>Zadzwoń do nas!</h3>
            <p>+48 500 200 300</p>
          </div>
        </div>

      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-12 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.5524329263694!2d19.146362415725307!3d50.28161497945246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716daead1cacd09%3A0xb78f6f945cd5ce55!2sMax-Gym%20Si%C5%82ownia%20Fitness!5e0!3m2!1spl!2spl!4v1583762535018!5m2!1spl!2spl" width="1110" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>
